
*{
    list-style: none;
} 
.BasicCard{
    //max-height:100px;
    //max-width:80px;
    aspect-ratio: 0.8; 
    border: 5px solid #0000000d; 
    border-radius: 5px;
    pointer-events: all;
    //float:left;
}
.OFFENSIVE_CARD{
    border: 5px solid #893030;
}
.DEFENSIVE_CARD{
    border: 5px solid #2d4367;
}


.Layer{
    pointer-events: none; 
    & > *{
        pointer-events: all;
    } 
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%; 
}

.InputForm{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 8px 2px #00000030;
    margin: auto;
    margin-top: 50px;
    padding: 25px;
    font-size: 20px;
} 

.CardRow{
    display: flex;
    flex-wrap: nowrap;
    & > div {
    flex-basis: 25%;
    }
}


.PlayerContainer{
    padding:10px;  
}

.NON_INTERACTIVE{
    pointer-events: none; 
    & > *{
        pointer-events: none;
    } 
}
.INVISIBLE{
    opacity: 0;
}

.PlayerHealthBar{
    
    height:30px;
    background-color: white;
    border-radius: 5px; 
    float:none;
    position:relative;

    .InnerHealthBar{
        height:100%;
        width:100%;
        background-color: brown;
        float:left;
        margin-bottom: -100%;
    }
    
    .PlayerNameHeader{
        position:absolute;
        float:left;
        margin:auto;
        padding:0;
        border:0; 
        margin-top: -1%;
    }

}