
@import "functions";
$CARD_BORDER_SIZE: 4px;
:root {
    --card-border-thickness: #{$CARD_BORDER_SIZE};
} 
$cardBorderSize: var(--card-border-thickness);

*{
    list-style: none;
} 


.BasicCard{
     
    aspect-ratio: 0.8; 
    border-width: $cardBorderSize ; 
    border-style: dotted;
    border-radius: 5px;
    border-color:#0000000d;
    pointer-events: all; 
    background-color: white;
    font-size: 65%;
    padding: 5px; 
    position: relative;

    .card_roundCounter{
        position: absolute; 
        right:  -$CARD_BORDER_SIZE;
        bottom: -$CARD_BORDER_SIZE;
        //border-width: $cardBorderSize;
        //border-style: inherit;
        //border-color:inherit;
        //background-color: inherit;
        color:inherit;
        border-radius: 5px;
        padding: 5px; 
        font-size: 10px;
    }
}
.OFFENSIVE_CARD{
    border-style: solid;
    border-width: $cardBorderSize  ;
    border-color: #893030;
}
.DEFENSIVE_CARD{
    border-style: solid;
    border-width: $cardBorderSize  ;
    border-color: #2d4367;
}
.DEAD_CARD{
    border-style: solid;
    border-width: $cardBorderSize ; 
    border-color: #b4b4b4;
    color: #9d9d9d;
    background-color: #d1d1d1; 
}


.Layer{
    pointer-events: none; 
    & > *{
        pointer-events: all;
    } 
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%; 
}

.InputForm{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 8px 2px #00000030;
    margin: auto;
    margin-top: 50px;
    padding: 25px;
    font-size: 20px;
} 

.CardRow{
    display: flex;
    flex-wrap: nowrap;
    & > div {
    flex-basis: 25%;
    }
}


.PlayerContainer{
    padding:10px;  
}

.NON_INTERACTIVE{
    pointer-events: none; 
    & > *{
        pointer-events: none;
    } 
}
.INVISIBLE{
    opacity: 0;
}


.PlayerHealthBar{

    box-shadow: inset 0 0 10px #0000006b;
    height:30px;
    background-color: rgb(166, 166, 166);
    border-radius: 5px; 
    float:none;
    position:relative;
    overflow:hidden;
 
    .InnerHealthBar{
        box-shadow: inset 0 0 10px #0000006b;
        height:100%; 
        background-color: brown;
        float:left; 
    
        transition: 2s;
        transition-timing-function: cubic-bezier(0.37,-0.01, 0.47, 1.01);
    }

    .HealthBar_TextContainer{ 
        
        position:absolute;
        left:0;
        top:0;
        float:left; 
        margin-left:2%;
        padding:0;
        border:0; 
        height:100%;
        width:50%;  

        display:flex;
        flex-direction: row;
        justify-content: space-between;

        * {
            height:100%;
            margin:0;
            padding:0;
            border:0;  
            color:white;
        }
    }

}