
*{
    list-style: none;
}
.BasicCard{
    //max-height:100px;
    //max-width:80px;
    aspect-ratio: 8;
    object-fit: fill;
    border: 2px solid #0000000d; 
    pointer-events: all;
    //float:left;
} 
.Layer{
    pointer-events: none; 
    & > *{
        pointer-events: all;
    } 
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%; 
}

.InputForm{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 8px 2px #00000030;
    margin: auto;
    margin-top: 50px;
    padding: 25px;
    font-size: 20px;
}
.Board{
    width:100%;
    height: 100%;
}
.PlayerContainer{
    width:100%;
    height:200px;
}
.PlayerBadge{
    float:left;
    width:200px;
    height:100%;
    background-color: brown;
}
.PlayerBoardContainer{
    float:left;
    height:100%;
    width:calc(100% - 200px);
    background-color:yellow;
}